model_config_list: {
    config: {
        name: "detector_placa_veiculos",
        base_path: "/models/detector_placa_veiculos",
        model_platform: "tensorflow",
        model_version_policy {
        specific {
            versions: 1
          }
        }
        version_labels {
            key: 'stable'
            value: 1
        }
    }
}